h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
:root {
  --color-special-light: #ffffff;
  --main-bg-color: #2f303a;
  --secondary-bg-color: #F4F4FD
  --footer-nav-color: #2e2f42;
  --footer-text: #E7E9FC
  --logo-iris: #4d5ae5;
  --contacts-color: #434455;
  --accent-button: #404bbf;
}
body {
  background-color: var(--color-special-light);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}

.uni-accent:is(:hover, :focus) {
  color: var(--accent-button);
}

.uni-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
}
.uni-button-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
}

/* ---------------- header -------------------------------------- */

.header-nav>.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-iris);
  text-transform: uppercase;
  text-decoration: none;
}
.header>.heder-nav>.logo>span {
  color: var(--footer-nav-color);
}
.contacts-item {
  text-decoration: none;
  list-style: none;
  color: var(--contacts-color);
}
.header-list {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
}

/* ---------------footer------------- */

.footer {
  text-decoration: none;
  background: var(--footer-nav-color)
}
.footer-logo {
  color: var(--color-special-light);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text)
}

/* --------------- gallery ----------- */

.gallery-button-list {
  list-style: none;
  text-decoration: none;
}
.btn:is(:hover, :focus) {
  background: var(--accent-button);
  color: var(--color-special-light);
}
.gallery-list-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.gallery-list-filrt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------------- Hero ------------------------------------ */

.hero {
  background: var(--footer-nav-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  color: var(--color-special-light);
  background: var(--logo-iris);
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
}
.hero-btn-accent:is(:hover, :focus) {
  color: var(--color-special-light);
  background: var(--accent-button);
}

/* ---------- features -------------- */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-nav-color);
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------ services ----------- */

.services-list {
  list-style: none;
  text-decoration: none;
}

/*------------------ team ------------*/

.team {
  background: #F4F4FD;
  border-style: outset;
}
.team-list {
  text-decoration: none;
  list-style: none;
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-prof {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

